@font-face {
    font-family: "comic-sans";
    src: url("../font/COMIC.TTF");
}
html, body{
    height: 100%;
}
body {
    text-align: center;
    /*centre le text*/
    font-family: "Arial, Helvetica, sans-serif";
    margin: 0;
    }
    
    
h2 {
    margin: 0 auto;
    font-size: 35px;
    margin: 10px;
}
    
    
.flex-container {
    /* In order to use flex-box we need to first set our display property */
    display: flex;
    /* center the container horizontally */
    justify-content: center;
    /* this will center content vertically */
    align-items: center;
    /* tells the container to align the children in columns rather than rows */
}

.flex-column {

    width: 100%;
    flex-direction: column;
    /* tells the container to drop down once it reaches max-width */
}

.flex-wrap {
    flex-wrap: wrap;
    height: 432px;
    width: 432px;
}
    
    
.square {
    border: 2px solid rgba(0, 0, 0, .75);
    height: 140px;
    width: 140px;
    font-family: "comic-sans";
        /*change la police du tableau de tic tac toe en comic sans*/
    font-size: 80px;
    display: flex;
    align-items: center;
    /*aligne les items au centre*/
    justify-content: center;
    /*met les contenus de square en justifier*/
}
    
    
#reset-button {
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    height: 55px;
    width: 100px;
    margin: 10px;
}
footer {
    display: grid;
    background-color: blue;
    /*enleve la marge du bas du footer*/
    align-self: flex-end;
    /*met le footer au bas de la page*/
    grid-template-columns: 1fr 1fr 1fr;

}
#image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-content: flex-end;
}
#lien-git{
    font-size: large;
    text-align: left;
}
#nom{
    font-size: large;
}